<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/styles/music.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&family=Splash&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>

    <title>Music</title>
</head>

<body>

    <header>

        <div class="divHeader">
            <a href="/"> <img class="logo" src="/img/logoWhiteHome.png" alt=""></a>
        </div>

               <input type="checkbox" id="openModal">
        <label for="openModal" class="btnOpenModal"><p>Why the music</p></label>
   

         <div class="containerModal">
                <div class="headerModal">
                 <label for="openModal" class="btnCloseModal"><i class="fa-solid fa-xmark"></i></label>
             </div>

                <div class="babyModal">
                  <h1 class="titleModal">Alejandro Garcia</h1>
                 <p class="messageModal"> Hi, I'm Alex, nice to meet you. I'm a Jr. Web programmer</p>
              </div>
        </div>

        <div class="adressId">
            <a href="/contact"><i class="fa-solid fa-address-book"></i></a>
        </div>

    </header>


    <section class="allItems">

        <article class="allSongs">

            <div>
                <a href="/music/music1"> <img src="/img/photos/DSC_0002-2.jpg" alt="picture1"></a>
            </div>

            <div>
                <a href="/music/music2"> <img src="/img/photos/duceidedewjdw.jpg" alt="picture2"></a>
            </div>

            <div>
                <a href="/music/music3"> <img src="/img/photos/duckekdekdew.jpg" alt="picture3"></a>
            </div>

            <div>
                <a href="/music/music4"> <img src="/img/photos/DSC_0087.jpg" alt="picture4"></a>
            </div>

        </article>

    </section>

</body>

</html>