<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/photos.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&family=Splash&display=swap"
        rel="stylesheet">
    <title>Photos</title>
</head>

<body>

    <header>

        <div class="divHeader">
            <a href="/"> <img class="logo" src="/img/logoWhite.png" alt=""></a>
        </div>

        <div class="textHeader">
            <button> Who I am? </button>
            <!-- <h1>Welcome to my place...</h1>
        <p>I'm Alex, a passionate Engineer, lover of the technology and arts</p> -->
        </div>

    </header>


    <section class="allItems">

        <article class="headerPhoto">

            <div>
                <img class="mainPhoto" src="/img/photos/IMG_1259.JPG" alt="mainPhoto">
            </div>

        </article>


        <article class="secondArticle">

            <div>
                <img src="" alt="picture1">
            </div>

            <div>
                <img src="" alt="picture2">
            </div>

            <div>
                <img src="" alt="picture3">
            </div>

            <div>
                <img src="" alt="picture4">
            </div>

        </article>

    </section>

</body>

</html>