<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/photos.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Orbitron:wght@500&family=Roboto:wght@300&family=Splash&display=swap"
        rel="stylesheet">}
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>+
    <title>Photos</title>
</head>

<body>

    <header>

        <div class="divHeader">
            <a href="/"> <img class="logo" src="/img/logoWhite.png" alt=""></a>
        </div>

        <div class="textHeader">
            <button> Who I am? </button>
            <!-- <h1>Welcome to my place...</h1>
        <p>I'm Alex, a passionate Engineer, lover of the technology and arts</p> -->
        </div>

    </header>


    <section class="allItems">

        <article class="containerSlider" id="slider">

            <div class="slider" id="slider">

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/IMG_1259.JPG" alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/13880195_1668299693496027_6761420845496651718_n.jpg"
                        alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/74645264_583769562434727_2305446094106001408_o.jpg"
                        alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/IMG_0832.jpg" alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/IMG_0140.jpg" alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/IMG_1580-editada.jpg" alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/IMG_0220.jpg" alt="mainPhoto">
                </div>

                <div class="sliderSection">
                    <img class="sliderImg" src="/img/photos/10710743_1584577915201539_8669849898598436221_n.jpg"
                        alt="mainPhoto">
                </div>

            </div>

            <div class="sliderButtonRight">
                <i class="fa-solid fa-circle-right" id="sliderButtonRight"></i>
            </div>

            <div class="sliderButtonLeft">
                <i class="fa-solid fa-circle-left" id="sliderButtonLeft"></i>
            </div>

        </article>



        <!-- <article class="secondArticle">

            <div>
                <img src="" alt="picture1">
            </div>

            <div>
                <img src="" alt="picture2">
            </div>

            <div>
                <img src="" alt="picture3">
            </div>

            <div>
                <img src="" alt="picture4">
            </div>

        </article> -->

    </section>

    <script src="../slider.js"></script>

</body>

</html>