* {
    box-sizing: border-box
}

body {

    background-image: url('/img/javier-miranda-nc1zsYGkLFA-unsplash.jpg');
    background-size: cover;
    /* border: 2px red solid; */
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0px;
    margin: 0px;
}

div img {
    display: line;
    width: 12vw;
    padding: 2vw;
}

.allItems {
    margin-left: 13vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
    width: 50vw;
}

.welcome {
    margin: 0;
    margin-top: -1vw;
    font-family: Orbitron;
    text-align: center;
    font-size: 5vw;
    color: white;
}

.text1 {
    margin: 0;
    padding-top: 0px;
    font-family: Orbitron;
    text-align: center;
    font-size: 2.5vw;
    color: white;
}


div button {
    font-family: splash;
    margin: auto;
    padding: .25vw .5vw;
    font-size: 2.5vw;
    border-radius: 1vw;
    background-color: rgb(20, 29, 46);
    transition: all 450ms;
}

div button:hover {

    background-color: rgb(18, 23, 36);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: bold;
}