* {
    box-sizing: border-box
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url('/img/javier-miranda-nc1zsYGkLFA-unsplash.jpg');
    background-size: cover;
    /* border: 2px red solid; */
    width: 100vw;
    height: 100vh;
}

.allItems {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.welcome {
    margin: 0;
    margin-top: -1vw;
    font-family: Orbitron;
    text-align: center;
    font-size: 5vw;
    color: white;
}

.text1 {
    margin: 0;
    padding-top: 0px;
    font-family: Orbitron;
    text-align: center;
    font-size: 2.5vw;
    color: white;
}


div button {
    font-family: splash;
    margin: auto;
    padding: .25vw .5vw;
    font-size: 2.5vw;
    border-radius: 1vw;
    background-color: transparent;
    border: 2px rgb(255, 255, 255) solid;
    transition: all 450ms;
}

div button:hover {
    background-color: rgb(20 29 46);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: bold;
}