* {
    box-sizing: border-box;
    font-family: Orbitron;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body header div i {
    display: block;
    color: white;
    font-size: 2vw;
    opacity: 1;
}

.divHeader {
    transition: all 350ms;
}

.divHeader:hover {
    transform: scale(1.1);
}

.logo {
    width: 12vw;
    padding: 2vw;
}

header {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.btnOpenModal{
    /* Esto es para que desaparezca el bot贸n */
    position: relative;
    /* para que tenga funcionalidades de bloque, le ponemos display block */
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.25vw;
    border-radius: 8vw;
    width: 12vw;
    text-align: center;
    margin-left: 32vw;
    transition: all 250ms;
    }

    .btnOpenModal:hover{
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 1);

    }

.btnCloseModal{
        display: block;
        color: rgb(0, 0, 0);
        width: 6vw;
        text-align: center;
        position: absolute;
        right: -1%;
        top: 2%;
}

.containerModal{
    background-color: black;
    position: fixed;
    top: -100vh;
    left: 15vw;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 10;
    visibility: hidden;

    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.739);

    position: absolute;
    left: 0%;
    margin: 0;
    /* Este atributo permite hacer la animaci贸n de desplegue, el display none, no */
}

.titleModal, .messageModal{
    color: white;
}

.adressId{
    position: absolute;
    right: 2vw;
    
}

.adressId i{
    color: rgba(255, 255, 255, 0.9);
    font-size: 3vw;
    transition: all 250ms;
    /* Por alguna raz贸n no acepta el hover de cambiar color y de la transici贸n en ms, lo hace inmediatamente */
}

.adressId:hover{
    transform: scale(1.1);
}

/* Evento click */
#openModal{
    display: none;
}

#openModal:checked ~ .containerModal{
    top:0%;
    visibility: visible;
}

#openModal:checked ~ .btnOpenModal{
    top: -100vw;
}

/* Finaliza evento click */

.allItems {
    padding-top: 3vw;
}

.allSongs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vw;
}

.allSongs img {
    width: 15vw;
}

section article div img {
    border: 3px solid white;
    border-radius: 5%;
    transition: all 350ms;
}

section article div img:hover {
    margin: 1vw;
}